<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Abdullah Aloğlu</string>
	<key>Builder Version</key>
	<string>12603.2.4</string>
	<key>CFBundleDisplayName</key>
	<string>Pinlet</string>
	<key>CFBundleIdentifier</key>
	<string>com.pinboard.pinlet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover/popover.html</string>
				<key>Height</key>
				<integer>350</integer>
				<key>Identifier</key>
				<string>PinletPop</string>
				<key>Width</key>
				<integer>350</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>Pinlet</string>
				<key>Identifier</key>
				<string>Pinlet</string>
				<key>Image</key>
				<string>toolbar@2x.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Pinlet</string>
				<key>Palette Label</key>
				<string>Pinlet</string>
				<key>Popover</key>
				<string>PinletPop</string>
				<key>Tool Tip</key>
				<string>Pinlet</string>
			</dict>
		</array>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>VE6CSLGJ83</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://alog.lu</string>
</dict>
</plist>
